<section class="container productos-text">
    <h1>LO QUE TE OFRECEMOS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ea autem et consequuntur quo. Perferendis
        voluptatum eveniet consectetur eos adipisci modi quibusdam tempore dignissimos, natus numquam? Pariatur
        iusto deleniti recusandae?</p>
</section>

<section class="container products-container">
    <div class="container products-card">
        <img src="images/autos.jpg" alt="auto">
        <div class="card-text">
            <h1>AUTOS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vero minus autem quisquam quis
                quasi
                recusandae amet libero. Inventore est reiciendis eaque blanditiis molestias provident at? At alias
                neque
                expedita?<br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore minima odit natus
                beatae
                officiis et id ullam. Ut voluptate soluta distinctio, dolore fugit aliquid? Eligendi, et. Eligendi
                architecto quisquam soluta!</p>
        </div>
    </div>

    <div class="container products-card">
        <img src="images/camionetas.jpg" alt="camioneta">
        <div class="card-text">
            <h1>CAMIONETAS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vero minus autem quisquam quis
                quasi
                recusandae amet libero. Inventore est reiciendis eaque blanditiis molestias provident at? At alias
                neque
                expedita?<br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore minima odit natus
                beatae
                officiis et id ullam. Ut voluptate soluta distinctio, dolore fugit aliquid? Eligendi, et. Eligendi
                architecto quisquam soluta!</p>
        </div>
    </div>

    <div class="container products-card">
        <img src="images/suv.jpg" alt="suv">
        <div class="card-text">
            <h1>SUV´S</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vero minus autem quisquam quis
                quasi
                recusandae amet libero. Inventore est reiciendis eaque blanditiis molestias provident at? At alias
                neque
                expedita?<br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore minima odit natus
                beatae
                officiis et id ullam. Ut voluptate soluta distinctio, dolore fugit aliquid? Eligendi, et. Eligendi
                architecto quisquam soluta!</p>
        </div>
    </div>

    <div class="container products-card">
        <img src="images/deportivos.jpg" alt="auto">
        <div class="card-text">
            <h1>DEPORTIVOS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vero minus autem quisquam quis
                quasi
                recusandae amet libero. Inventore est reiciendis eaque blanditiis molestias provident at? At alias
                neque
                expedita?<br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore minima odit natus
                beatae
                officiis et id ullam. Ut voluptate soluta distinctio, dolore fugit aliquid? Eligendi, et. Eligendi
                architecto quisquam soluta!</p>
        </div>
    </div>
</section>