* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: 3px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.rojo {
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azul {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verde {
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}