<div class="hero-blog">
    <h1>NO TE PIERDAS LO IMPORTANTE</h1>
</div>
{{#each novedades}}
<section class="container">
    <h2 class="blog_tittle"> {{titulo}} </h2>
    <h3> {{subtitulo}} </h3>
    <p> {{cuerpo}} </p>
    <hr>
</section>
{{/each}}