<body>

    <div class="hero-contacto">
        <h1>DEJANOS TU CONSULTA</h1>
    </div>
    <section class="container productos-text">
        <h1>ESTAMOS ESPERANDO TU MENSAJE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ea autem et consequuntur quo. Perferendis
            voluptatum eveniet consectetur eos adipisci modi quibusdam tempore dignissimos, natus numquam? Pariatur
            iusto deleniti recusandae?</p>
    </section>

    <section class="container contacto-container">
        <form action="/contacto" method="post" class="formulario">
            <h2>ENVIANOS TU MENSAJE</h2>
            <div class="form-container">
                <label for="text">Nombre y Apellido</label>
                <input type="text" name="nombre">
            </div>
            <div class="form-container">
                <label for="email">Email:</label>
                <input type="email" name="email">
            </div>
            <div class="form-container">
                <label for="textarea">Tu consulta:</label>
                <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Me interesa..."></textarea>
            </div>

            <input type="submit" class="submit" value="Enviar">
           

            
        </form>

        <p>{{message}}</p>


        <div class="datos">
            <h2>Contactanos:</h2>
            <p>WhatsApp: 3541-331641</p>
            <p>Email: dgautomotores@gmail.com</p>
            <p>Dirección: Av Carcano 696 - Villa Carlos Paz</p>
        </div>
    </section>






    </section>


</body>