
<h1 class="nov">¡Bienvenido! Esta página se encuentra en construcción...</h1> 
<div class="container">
    <p class="bienvenida"> Hola {{usuario}} </p>
    
    <a  class="btn btn-primary close_session" href="/admin/login/logout">Cerrar Sesión</a>
</div>