<body>

    <div class="hero-nosotros">
        <h1>TU AGENCIA DE CONFIANZA</h1>
    </div>
    <section class="container productos-text">
        <h1>3 SUCURSALES PARA QUE ENCUENTRES LO QUE ESTAS BUSCANDO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ea autem et consequuntur quo. Perferendis
            voluptatum eveniet consectetur eos adipisci modi quibusdam tempore dignissimos, natus numquam? Pariatur
            iusto deleniti recusandae?</p>
    </section>

    <div class="nosotros-container container">
        <div class="trucks">
            <img src="images/frente.jpg" alt="">
            <h2>TRUCKS AND WORK</h2>
        </div>
        <div class="trucks">
            <img src="images/center.jpg" alt="">
            <h2>CENTER</h2>
        </div>
        <div class="trucks">
            <img src="images/select.jpg" alt="">
            <h2>SELECT</h2>
        </div>
    </div>



    </section>


</body>