<div class="hero-image">
    <div class="hero-text">
        <h1>"Aquí comienza tu camino"</h1>
        <p>¿Estás preparado?</p>
    </div>
</div>


<section class="container card-container">
    <div class="card">
        <i class="fa-solid fa-truck-pickup"></i>
        <h2>Los mejores autos de cada segmento</h2>
        <p> Tenemos más de 150 unidades de todos los segmentos. Tener tu próximo auto es más fácil de lo que pensas
        </p>
    </div>

    <div class="card">
        <i class="fa-solid fa-shield-halved"></i>
        <h2>Garantía en cada unidad</h2>
        <p>Tu capital está asegurado, cada vehículo posee garantía escrita de hasta 6 meses. Además, nuestros autos
            pasan el control más riguroso antes de ingresar a nuestros salones de venta</p>
    </div>

    <div class="card">
        <i class="fa-solid fa-file-circle-check"></i>
        <h2>Gestoría propia</h2>
        <p>Los papeles de tu auto al instante, sin complicaciones. Solo preocupate de manejar, el resto lo hacemos
            nosotros</p>
    </div>
</section>

